---
import Container from '@c/Container.astro';
import { Image } from 'astro:assets';
import SectionHeading from '@c/pr/SectionHeading.astro';
import image_1 from '@i/pr/goals-1.png';
import defaultImageSizes from 'src/utils/defaultImageSizes';
---

<section
        id='goals'
        class='pt-20 md:pt-40 pb-[80px] md:pb-[140px]'>
        <Container class='mx-auto'>
                <SectionHeading class='!text-[#F3FFD2]'>Goals, Readiness, Risk</SectionHeading>
                <p
                        class='text-white/60 text-2xl pb-12 md:pb-16 lg:pb-20 xl:pb-24 laptop:pb-32 tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl !leading-normal'>
                        I composed the specifications for the Revenue Guide in a way that teams could easily access all their targets. And deep dive.
                </p>
        </Container>

        <Container class='mx-auto pb-14 md:pb-14 lg:pb-16 2xl:pb-20 relative'>
                <Image
                        src={image_1}
                        alt='Praction marketing homescreen'
                        class='relative md:max-w-[90%] h-auto mx-auto'
                        {...defaultImageSizes(image_1)}
                />
        </Container>
</section>
