---
import Container from '@c/Container.astro';
import { Image } from 'astro:assets';
import SectionHeading from '@c/pr/SectionHeading.astro';
import image_1 from '@i/pr/goals-1.png';
---

<section
        id='goals'
        class='pt-20 md:pt-40 pb-1 md:pb-10 lg:pb-0 2xl:pb-20'>
        <Container class='mx-auto'>
                <SectionHeading class='!text-[#F3FFD2]'>Goals, Readiness, Risk</SectionHeading>
                <p class='text-white/60 text-2xl pb-12 md:pb-16 lg:pb-20 xl:pb-24 laptop:pb-32 tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl leading-loose'>
                        See the actual likelihood of meeting your targets.
                </p>
        </Container>

        <Container class='mx-auto pb-14 md:pb-14 lg:pb-16 2xl:pb-20 relative'>
                <Image
                        src={image_1}
                        alt='Praction marketing homescreen'
                        class='relative max-w-[90%] h-auto mx-auto'
                />
        </Container>
</section>
