---
import Container from '@c/Container.astro';
import { Image } from 'astro:assets';

import image_1 from '@i/pr/hero-1.png';
import image_2 from '@i/pr/hero-2.png';
import defaultImageSizes from 'src/utils/defaultImageSizes';
---

<section>
        <Container class='mx-auto pb-14 md:pb-14 lg:pb-16 2xl:pb-20'>
                <h1 class='text-5xl/[1.3] md:text-7xl/[1.3] lg:text-8xl xl:text-[112px]/[1.3] font-normal tracking-tight pb-12 xl:pb-8 2xl:pb-14'>
                        <span>Praction</span>
                </h1>
                <div class='flex flex-col leading-normal lg:flex-row gap-7 pb-14 text-[0.8125rem] md:text-sm lg:text-base 2xl:text-xl'>
                        <div class='basis-[47%]'>
                                <h2 class='text-brand-grey pb-1'>Task</h2>
                                <p class='font-light laptop:max-w-[520px]'>
                                        Take a single consultation and turn it into an entire design overhaul and freelance gig
                                </p>
                        </div>
                        <div class='lg:basis-[22%]'>
                                <h2 class='text-brand-grey pb-1'>Company</h2>
                                <p class='font-light'>Praction</p>
                        </div>
                        <div class='lg:flex-1'>
                                <h2 class='text-brand-grey pb-1'>What I did</h2>
                                <div class='flex'>
                                        <p class='flex-1 font-light'>
                                                UX Design<br />
                                                UI Design<br />
                                                Design System<br />
                                                Competitor Analysis
                                        </p>
                                </div>
                        </div>
                </div>
        </Container>

        <Container class='mx-auto pb-14 md:pb-14 lg:pb-16 2xl:pb-20'>
                <div class='relative'>
                        <div class='absolute inset-0 w-full h-full bg-[radial-gradient(50%_50%_at_50%_50%,#7B61FF_0%,rgba(123,97,255,0)_100%)]'></div>
                        <Image
                                src={image_1}
                                {...defaultImageSizes(image_1)}
                                alt='Praction marketing homescreen'
                                class='relative max-w-[85%] h-auto mx-auto'
                                decoding='sync'
                                loading='eager'
                        />
                </div>
        </Container>
        <Container class='mx-auto pb-14 md:pb-14 lg:pb-16 2xl:pb-20'>
                <div class='relative'>
                        <div class='absolute inset-0 w-full h-full bg-[radial-gradient(50%_50%_at_50%_50%,#7B61FF_0%,rgba(123,97,255,0)_100%)]'></div>
                        <Image
                                src={image_2}
                                {...defaultImageSizes(image_2)}
                                alt='Praction marketing details screen'
                                class='relative max-w-[85%] h-auto mx-auto'
                                decoding='sync'
                                loading='eager'
                        />
                </div>
        </Container>
</section>
