---
import Layout from 'src/layouts/base.astro';
import Hero from '@c/ub/Hero.astro';
import Driving from '@c/ub/Driving.astro';
import TooMany from '@c/ub/TooMany.astro';
import Carry from '@c/ub/Carry.astro';
import MuchData from '@c/ub/MuchData.astro';
import Realizations from '@c/ub/Realizations.astro';
import Interviews from '@c/ub/Interviews.astro';
import Resources from '@c/ub/Resources.astro';
const logocolors='text-black fill-white';
import { ScrollTopArrow } from '../utils/ScrollTopArrow.tsx';
---
<title>Universal Browser</title>

<Layout class='bg-[#0A0D13] text-white' logocolors={logocolors}>
        <Hero />
        <Driving />
        <TooMany />
        <Carry />
        <MuchData />
        <Realizations />
        <Interviews />
        <Resources />
        <ScrollTopArrow client:only='preact' />
</Layout>
