---
import Logo from '@c/Logo.astro';
import Container from '@c/Container.astro';
const year = new Date();
---

<footer>
        <Container class='border-t-red-500 pt-9 pb-10 flex flex-col gap-6 md:flex-row md:gap-10 mx-auto laptop:gap-[22rem]'>
                <div class='flex justify-between items-center md:flex-1'>
                        <Logo class='h-[46px] w-[46px]' class:list={[Astro.props?.logocolors ? Astro.props.logocolors : "fill-black text-white"]}/>
                        <div>
                                <span class='block text-brand-grey text-sm md:text-base text-right md:text-left'>Jonathan Baruc</span>
                                <span class='text-sm md:text-base'>New York / Berlin</span>
                        </div>
                </div>
                <div
                        class='flex justify-between items-center md:flex-1 laptop:flex-grow-0 laptop:min-w-[350px] 2xl:min-w-[420px] laptop:flex-shrink-0'>
                        <div>
                                <a href="https://www.linkedin.com/in/jonathanbaruc/">
                                        <span class='lg:block md:pr-6 text-brand-pink text-sm md:text-base pr-2'>LinkedIn</span>
                                </a>
                                <a href="mailto:jdbaruc@gmail.com">
                                        <span class='text-brand-pink text-sm md:text-base'>Email</span>
                                </a>

                        </div>
                        <span class='text-brand-grey'>&copy;{year.getFullYear()}</span>
                </div>
        </Container>
</footer>
