---
import Logo from '@c/Logo.astro';
import Container from '@c/Container.astro';
---

<header>
        <Container
                class='mx-auto pt-6 flex justify-between items-center gap-4 pb-8 md:pb-12 xl:pb-16 2xl:pb-[90px] md:items-end'>
                <a href='/'>
                        <Logo class='h-[2.875rem] w-[2.875rem]' class:list={[Astro.props?.logocolors ? Astro.props.logocolors : "fill-black text-white"]}/>
                </a>
                <ul class='flex md:gap-12 gap-2 text-sm tracking-wider items-center w-full justify-end'>
                        <li>
                                <a
                                        href='/img/JonathanBarucUIUXDesigner.pdf'
                                        target='_blank'
                                        >RESUME</a
                                >
                        </li>
                </ul>
        </Container>
</header>
