---
import Logo from '@c/Logo.astro';
import Container from '@c/Container.astro';
---

<header>
        <Container
                class='mx-auto pt-6 flex flex-col justify-between items-center gap-4 pb-8 md:pb-12 xl:pb-16 2xl:pb-[90px] md:flex-row md:items-end'>
                <Logo class='h-[2.875rem] w-[2.875rem] fill-black text-white' />
                <ul class='flex md:gap-12 gap-2 text-sm/[1] items-center w-full justify-between md:justify-end'>
                        <li>
                                <a href='/'>HOME</a>
                        </li>
                        <li>
                                <a
                                        href='/img/JonathanBarucUIUXDesigner.pdf'
                                        target='_blank'
                                        >RESUME</a
                                >
                        </li>
                </ul>
        </Container>
</header>
