---
interface Props {
        class?: string;
}
---

<div
        class='p-2.5 rounded-xl border border-[rgba(255,255,255,0.2)] md:p-6 md:rounded-3xl lg:rounded-[36px] laptop:rounded-[45px] lg:p-10 laptop:p-15 laptop:pt-20'
        class:list={[Astro.props.class]}>
        <slot />
</div>
