---
import Container from '@c/Container.astro';
import Box from '@c/na/Box.astro';
import Em from '@c/Em.astro';
import SectionHeading from './SectionHeading.astro';
---

<section class='pt-20 pb-16 bg-black'>
        <Container>
                <SectionHeading number='4' variant='dark'>One Feedback Solution to Rule Them All</SectionHeading>

                <p class='text-brand-grey text-2xl pb-12'>
                        With clear pain points and stakeholder requirements, it was easy to mock an <Em variant='dark'>MVP for the developers</Em> to start
                        building. Meanwhile the <Em variant='dark'>Alpha Group and I continued to explore features and refine solutions</Em>. And
                        finally, <Em variant='dark'>I put on my Design System hat and began culling Components and Patterns</Em> we’d need to add to Lumen.
                </p>

                <Box class='text-[0.8125rem] text-[#909090] leading-relaxed mb-2.5 md:text-sm'>
                        <div class='p-2 pb-5'>
                                <h3 class='text-brand-pink font-normal'>Alpha + Beta Community</h3>
                                <p class='font-normal'>
                                        Alpha + Beta Community I kicked off an alpha group of 12 power-users to help <Em variant='dark'
                                                >find corner cases and refine the UX</Em
                                        >
                                        allowing me to design with confidence.
                                </p>

                                <p class='font-normal'>
                                        This granted me <Em variant='dark'>more time to focus on design concepts, prototypes, writing spec</Em> and <Em
                                                variant='dark'>designing for less experienced users</Em
                                        >. The group was organized and passionate. We received critical and enthusiastic feedback daily.
                                </p>
                        </div>

                        <img
                                src='/img/na/feedback-1.png'
                                alt=''
                                class='rounded-lg mb-5'
                        />

                        <div class='p-2 pb-5'>
                                <h3 class='text-brand-pink font-normal'>In-app Feedback</h3>
                                <p class='font-normal'>
                                        Being my first time working with a web framework I was quick to suggest <Em variant='dark'
                                                >embedding an in-app feedback</Em
                                        > tool during late beta. We implemented Appzi and switched to Typeform upon release. In-app feedback lives in the
                                        app to this day acting as the primary touchpoint of user feedback. <Em variant='dark'
                                                >Many other teams at the company have now adopted this approach.</Em
                                        >
                                </p>
                        </div>
                        <img
                                src='/img/na/feedback-2.png'
                                alt=''
                                class='rounded-lg mb-1'
                        />
                </Box>

                <Box class='text-[0.8125rem] text-[#909090] leading-relaxed md:text-sm'>
                        <div class='p-2 pb-5'>
                                <h3 class='text-brand-pink font-normal'>User Interviews</h3>
                                <p class='font-normal'>
                                Solutions to the major pain points were tested and validated during user interviews. We then <Em variant='dark'>refined upon our solutions, circling back to the same users.</Em>
                                </p>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nLUw0O05mCM?si=dwvjG0cB4K-CCAQe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </Box>
        </Container>
        <section></section>
</section>
