---
import Container from '@c/Container.astro';
import Box from '@c/na/Box.astro';
import Em from '@c/Em.astro';
---

<section class='pt-20 pb-16 bg-black'>
        <Container>
                <h2 class='text-brand-pink text-4xl pb-10 relative'>
                        One Feedback Solution to Rule Them All
                        <span class='absolute italic left-0 top-0 -translate-y-full text-base text-white'>4</span>
                </h2>
                <p class='text-brand-grey text-2xl pb-12'>
                        With clear pain points and stakeholder requirements, it was easy to mock an <Em variant='dark'>MVP for the developers</Em> to start
                        building. Meanwhile the <Em variant='dark'>Alpha Group and I continued to explore features and refine solutions</Em>. And
                        finally, <Em variant='dark'>I put on my Design System hat and began culling Components and Patterns</Em> we’d need to add to Lumen.
                </p>
                <Box class='text-[0.8125rem] text-[#33333] leading-relaxed mb-2.5'>
                        <div class='p-2 pb-5'>
                                <h3 class='text-brand-pink font-normal'>Alpha + Beta Community</h3>
                                <p class='font-normal'>
                                        Alpha + Beta Community I kicked off an alpha group of 12 power-users to help <Em variant='dark'
                                                >find corner cases and refine the UX</Em
                                        >
                                        allowing me to design with confidence.
                                </p>
                                <p class='font-normal'>
                                        This granted me <Em variant='dark'>more time to focus on design concepts, prototypes, writing spec</Em> and <Em
                                                variant='dark'>designing for less experienced users</Em
                                        >. The group was organized and passionate. We received critical and enthusiastic feedback daily.
                                </p>
                        </div>
                        <img
                                src='/img/na/feedback-1.png'
                                alt=''
                                class='rounded-lg mb-5'
                        />

                        <div class='p-2 pb-5'>
                                <h3 class='text-brand-pink font-normal'>In-app Feedback</h3>
                                <p class='font-normal'>
                                        Being my first time working with a web framework I was quick to suggest <Em variant='dark'
                                                >embedding an in-app feedback</Em
                                        > tool during late beta. We implemented Appzi and switched to Typeform upon release. In-app feedback lives in the
                                        app to this day acting as the primary touchpoint of user feedback. <Em variant='dark'
                                                >Many other teams at the company have now adopted this approach.</Em
                                        >
                                </p>
                        </div>
                        <img
                                src='/img/na/feedback-2.png'
                                alt=''
                                class='rounded-lg mb-1'
                        />
                </Box>

                <Box class='text-[0.8125rem] text-[#333333] leading-relaxed'>
                        <div class='p-2 pb-5'>
                                <h3 class='text-brand-pink font-normal'>User Interviews</h3>
                                <p class='font-normal'>
                                Solutions to the major pain points were tested and validated during user interviews. We then <Em variant='dark'>refined upon our solutions, circling back to the same users.</Em>
                                </p>
                        </div>
                        <img
                                src='/img/na/feedback-3.png'
                                alt=''
                                        class='rounded-lg mb-1'/>
                </Box>
        </Container>
        <section></section>
</section>
