---
import '../styles/main.css';

import Header from '@c/Header.astro';
import Footer from '@c/Footer.astro';
import GoogleAnalytics from'../components/GoogleAnalytics.astro';
import type { Code, Debug } from 'astro:components';

interface Props {
        class?: string;
        logocolors?: string;
}
---

<style> 
        html{
                scroll-behavior: smooth;
        }
</style>
<html lang='en'>
        <head>
                <GoogleAnalytics />
                <meta charset='utf-8' />
                <link
                        rel='icon'
                        type='image/svg+xml'
                        href='/favicon.svg'
                />
                <meta
                        name='viewport'
                        content='width=device-width'
                />
                <meta
                        name='generator'
                        content={Astro.generator}
                />
                <title>Astro</title>
                <link
                        rel='preconnect'
                        href='https://fonts.googleapis.com'
                />
                <link
                        rel='preconnect'
                        href='https://fonts.gstatic.com'
                        crossorigin
                />
                <link
                        href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap'
                        rel='stylesheet'
                />
                <script type='text/partytown' src="https://www.googletagmanager.com/gtag/js?id=G-8KJ7G4DSKG"></script>
                <script>
                        //@ts-ignore
                        window.dataLayer = window.dataLayer || [];
                        //@ts-ignore
                        function gtag(){dataLayer.push(arguments);}
                        //@ts-ignore
                        gtag('js', new Date());
                        //@ts-ignore
                        gtag('config', 'G-8KJ7G4DSKG');
                </script>
        </head>
        <body
                class='overflow-x-hidden'
                class:list={[Astro.props?.class]}>
                <Header {...Astro.props?.logocolors ? {logocolors:Astro.props?.logocolors} : {}}/>
                <slot />
                <Footer {...Astro.props?.logocolors ? {logocolors:Astro.props?.logocolors} : {}}/>
        </body>
</html>
