

---
import Container from '@c/Container.astro';

interface Props {
        class?: string;
}
---
<section>
        <Container class='mx-auto pb-2 md:pb-14 lg:pb-16 2xl:pb-20 sm:max-w-[100%] lg:max-w-[80%] '>

                <div class='pb-1 md:pt-[30px] flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen2.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen2.5.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen3.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen4.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen5.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen6.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen7.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen8.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen9.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen10.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen11.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen12.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen13.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen14.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen15.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen16.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen17.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen18.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen19.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen20.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen21.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen22.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen23.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
                <div class='pb-1 md:pt-[30px]  flex justify-center items-center'>
                        <img
                                src='/img/lumen/lumen24.png'
                                alt='Native Access window thumbnail'
                        />
                </div>
        </Container>
</section>