---
import { Image } from 'astro:assets';
import Container from '@c/Container.astro';
import Box from '@c/na/Box.astro';
import Em from '@c/Em.astro';
import SectionHeading from './SectionHeading.astro';
import ftMobile from '@i/ub/much-data-1-mobile.png';
import ftDesktop from '@i/ub/much-data-1-desktop.png';
import dbMobile from '@i/ub/much-data-2-mobile.png';
import dbDesktop from '@i/ub/much-data-2-desktop.png';
---

<style is:global>
        .muchbox {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.03) 100%);
                box-shadow: -4px 4px 38px 0px rgba(0, 0, 0, 0.25), 1px -1px 0px 0px rgba(255, 255, 255, 0.20) inset, -1px 1px 0px 0px rgba(255, 255, 255, 0.34) inset;
                backdrop-filter: blur(40px);
        }
</style>
<section
        class='pt-[80px] md:pt-[120px] lg:pt-[180px] pb-[80px] md:pb-[120px] lg:pb-[180px] relative'
        id='much'>

        <svg xmlns="http://www.w3.org/2000/svg" width="1593" height="3835" viewBox="0 0 1593 3835" fill="none" class='h-[1900px] w-auto absolute top-[45%] left-1/2 rotate-6 translate-x-24'>
  <g filter="url(#filter0_f_4841_21169)">
    <path d="M1903.79 1719.58C1820.18 2300.28 1802.32 2871.9 1521.77 2831.51C1356.11 2807.65 1063.31 2691.81 1007.16 2424.44C968.219 2239.04 1130.96 1944.7 1165.2 1706.92C1248.81 1126.22 1931.13 967.507 2211.67 1007.9C2492.21 1048.29 1987.4 1138.88 1903.79 1719.58Z" fill="#FF56DF" fill-opacity="0.08"/>
  </g>
  <defs>
    <filter id="filter0_f_4841_21169" x="0.179016" y="0.968948" width="3296.53" height="3833.56" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feGaussianBlur stdDeviation="500.5" result="effect1_foregroundBlur_4841_21169"/>
    </filter>
  </defs>
</svg>
        <Container class='mx-auto relative'>
                <SectionHeading
                        number='4'
                        variant='dark'
                        >Much Data, One Browser</SectionHeading
                >
                <p class='text-brand-grey text-2xl pb-12 md:pb-[60px] lg:pb-[100px] tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl'>
                        <Em variant='dark'>
                                I managed to factor all the requirements, filetypes and previous tagging systems into one shiny new browser.                               
                                </Em
                        >
                </p>
        </Container>

        <Container class='2xl:max-w-[1560px] mx-auto relative'>
                <Box class='mb-2.5 lg:mb-5 laptop:mb-10 muchbox border-none'>
                        <div class='px-2.5 pt-2.5 pb-8 md:pb-12 lg:pb-16 laptop:pb-20'>
                                <h3 class='text-brand-browser-purple body-text'>Enough Filetypes</h3>
                                <p class='text-brand-grey body-text'>
                                        If fulfilling the needs of several teams combined with the needs of several frameworks wasn't enough of a
                                        challenge, these frameworks represented <Em variant='dark'>over 35 filetypes</Em>, all needing consistent XD
                                        within the browsing experience. <Em variant='dark'>I did a full audit and prioritized with stakeholders.</Em>
                                </p>
                        </div>
                        <div class='pb-4 xl:pb-8'>
                                <Image
                                        src={ftMobile}
                                        alt='frameworks 1'
                                        class='lg:hidden'
                                />
                                <Image
                                        src={ftDesktop}
                                        alt='frameworks 1'
                                        class='hidden lg:block'
                                />
                        </div>
                </Box>

                <Box class='mb-2.5 lg:mb-5 laptop:mb-10 muchbox border-none'>
                        <div class='px-2.5 pt-2.5 pb-8 md:pb-12 lg:pb-16 laptop:pb-20'>
                                <h3 class='text-brand-browser-purple body-text'>Two Databases</h3>
                                <p class='text-brand-grey body-text'>
                                        We had to transcribe <Em variant='dark'>two old data models</Em> for the old tagging system<Em variant='dark'>
                                                to fit the new. I created the rubric</Em
                                        > for how this would work.
                                </p>
                        </div>

                        <div class='pb-4 md:pb-4 lg:pb-2 xl:pb-1'>
                                <Image
                                        src={dbMobile}
                                        alt='frameworks 2'
                                        class='lg:hidden'
                                />
                                <Image
                                        src={dbDesktop}
                                        alt='frameworks 2'
                                        class='hidden lg:block'
                                />
                        </div>
                </Box>
        </Container>
</section>
