---
import Box from '@c/na/Box.astro';

interface Props {
        number: number | string;
        text: string;
}
---

<style>
        .box {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 0, 229, 0.06) 100%);
                box-shadow:
                        -4px 4px 38px 0px rgba(0, 0, 0, 0.25),
                        1px -1px 0px 0px rgba(255, 255, 255, 0.2) inset,
                        -1px 1px 0px 0px rgba(255, 255, 255, 0.34) inset;
        }
</style>
<Box class='box backdrop-blur-[40px] !p-3 md:!px-6 lg:!px-9 laptop:!px-16 laptop:!py-8 flex-1 text-right flex flex-col gap-2 laptop:gap-3'>
        <span class='text-[36px] !leading-[0.75] font-bold md:text-[48px] lg:text-[64px] laptop:text-[100px]'>{Astro.props.number}</span>
        <span class='font-bold text-[9px]/[0.75] md:text-xs lg:text-lg xl:text-xl laptop:text-2xl !leading-[1]'>{Astro.props.text}</span>
</Box>
