---
import { Image } from 'astro:assets';
import Container from '@c/Container.astro';
import Box from '@c/na/Box.astro';
import Em from '@c/Em.astro';
import SectionHeading from './SectionHeading.astro';
import SummaryBadge from './SummaryBadge.astro';
import bg from '@i/ub/toomany_bg.png';
import wksMobile from '@i/ub/workshop-reports-mobile.png';
import wksDesktop from '@i/ub/workshop-reports-desktop.png';
---

<section
        class='pt-[80px] md:pt-[120px] lg:pt-[180px] pb-[80px] md:pb-[120px] lg:pb-[180px] relative'
        id='too'>
        <style is:global>
                .toomanybox {
                        background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.23) 100%);
                        box-shadow:
                                -4px 4px 38px 0px rgba(0, 0, 0, 0.25),
                                1px -1px 0px 0px rgba(255, 255, 255, 0.2) inset,
                                -1px 1px 0px 0px rgba(255, 255, 255, 0.34) inset;
                }
        </style>
        <Image
                class='absolute w-full h-full inset-0 object-cover object-left'
                src={bg}
                alt='background image'
        />
        <Container class='mx-auto relative'>
                <SectionHeading
                        number='2'
                        variant='dark'
                        >Too Many Stakeholders in the Kitchen</SectionHeading
                >
                <p class='text-brand-grey text-2xl pb-12 md:pb-[60px] lg:pb-[100px] tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl'>
                        These stakeholders were representing <Em variant='dark'>20 years of silo’d products, all fighting for budget.</Em> After some courtesy
                        gourmet vegan sushi, we spent an entire afternoon workshop posting requirements and niceties on the wall. <Em variant='dark'
                                >We mused over a future of aligned features</Em
                        > rather than dwelling on past conflicts. As a bonus, <Em variant='dark'
                                >everyone seemed to get along better thereafter.</Em
                        >
                </p>
        </Container>

        <Container class='2xl:max-w-[1560px] mx-auto relative'>
                <div class='flex gap-3 pb-12 laptop:gap-5'>
                        <SummaryBadge
                                number='3'
                                text='Steerings'
                        />
                        <Box
                                class='backdrop-blur-[40px] !p-3 md:!px-6 lg:!px-9 laptop:!px-16 flex-1 laptop:!py-8 text-right md:flex flex-col gap-2 hidden shadow-[10px_0px_20px_20px_rgba(0,0,0,0.4)]'>
                                <span class='block text-[36px] !leading-[0.75] font-bold lg:text-[56px] laptop:text-[85px]'>1</span>
                                <span class='font-bold text-[9px] md:text-xs lg:text-base !leading-[1.1]'>Requirements Workshop</span>
                        </Box>
                        <SummaryBadge
                                number='7'
                                text='Stakeholders'
                        />
                        <SummaryBadge
                                number='6'
                                text='Frameworks'
                        />
                        <SummaryBadge
                                number='25'
                                text='Filetypes'
                        />
                </div>

                <Box class='toomanybox mb-2.5 lg:mb-5 laptop:mb-10 backdrop-blur-[30px] border-none'>
                        <div class='px-2.5 pt-2.5 pb-8 md:pb-12 lg:pb-16 laptop:pb-20'>
                                <h3 class='text-brand-browser-purple body-text'>Legacy</h3>
                                <p class='text-brand-white body-text'>
                                        I facilitated an afternoon workshop with all stakeholders and had them rank features most important to them.
                                        All requests, requirements and priorities had to be delicately taken into consideration. I maintained regular
                                        weekly syncs from then on.
                                </p>
                        </div>
                        <Image
                                src={wksMobile}
                                alt='workshop results'
                                class='lg:hidden'
                        />
                        <Image
                                src={wksDesktop}
                                alt='workshop results'
                                class='hidden lg:block'
                        />
                </Box>
        </Container>
</section>
